.App {
  text-align: center;
  background-image: url(https://i.pinimg.com/originals/ae/2b/9c/ae2b9c1f6d16a27e49a8c0fc0e7c1a19.jpg);
font-size: x-large;
}

a{
  font-size: 20px;
}
input{
  height:59px;
  width: 50px;

}

.custom-control-input{
  width: 20px;
  height: 20px;
  display:inline-block;
}
button{
  height:59px;
  width: 50px;
}
.App-logo {
  height: 4000vmin; /* Increase the height of the logo */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 300vh; /* Increase the minimum height of the header */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .App-header {
    padding: 20px; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 576px) {
  .App-logo {
    height: 300vmin; /* Reduce logo size for smaller screens */
  }
}
