
.login-btn, .sign-up {
    background-color: #FF9933;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block; /* Make buttons full width on small screens */
    font-size: 1.5em; /* Adjust font size for better readability on smaller screens */
    cursor: pointer;
    border-radius: 5px;
    margin: 20px auto; /* Center buttons horizontally with vertical margin */
    width: 80%; /* Set width to 80% of the parent container */
    max-width: 500px; /* Limit maximum width */
    margin-left: 150px;
    

    

}

.login-btn:hover, .sign-up:hover {
    background-color: #45a049;
}

@media screen and (min-width: 768px) {
    /* Apply styles for screens with a minimum width of 768px (tablets and desktops) */
    div {
        text-align: right;
        width:500px;
    }
}

